<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	
	<!-- 控制台输出配置 -->
	<appender name="console.appender" 
		class="org.apache.log4j.ConsoleAppender">
		<!-- 输出格式设置 -->
		<layout class="org.apache.log4j.PatternLayout">
			<!-- %d:时间 %t:线程 %p:级别 %c:类名 %m:信息 %n:换行 -->
			<param name="ConversionPattern" 
				value="%d [%t] %p : %c - %m%n" />
		</layout>
	</appender>
	
	<!-- 文件输出配置 -->
	<appender name="file.appender" 
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${manager.root}/logs/log" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<!-- 设置是否追加文件内容 -->
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%t] %p - %m%n" />
		</layout>
	</appender>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="console.appender" />
		<appender-ref ref="file.appender" />
	</root>
</log4j:configuration> 